.env
.envrc
.vscode
airflow
dags
__pycache__
local_pyspark.ipynb
emr_serverless.ipynb
.envread
.gitignore
setup.cfg
README.md
tests/
tmp
tmp/
.github
.github/
.pytest_cache
.pytest_cache/
airflow
airflow/
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis